<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Selecione uma Categoria</title>
  <!-- Link para o CSS do Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container text-center my-5">
    <h1>Escolha uma Categoria de Produto</h1>
    <div class="row justify-content-center">
      <!-- Bot達o para a categoria 'Economicas' -->
      <div class="col-9 mb-4">
        <a href="/produtos?categoria=ECONOMICAS" class="btn btn-primary btn-lg w-100">Economicas</a>
      </div>
      <!-- Bot達o para a categoria 'Golden' -->
      <div class="col-9 mb-4">
        <a href="/produtos?categoria=GOLDEN" class="btn btn-success btn-lg w-100">Golden</a>
      </div>
      <!-- Bot達o para a categoria 'Winners' -->
      <div class="col-9 mb-4">
        <a href="/produtos?categoria=WINNERS" class="btn btn-warning btn-lg w-100">Winners</a>
      </div>
      <!-- Bot達o para a categoria 'Cutelaria' -->
      <div class="col-9 mb-4">
        <a href="/produtos?categoria=CUTELARIA" class="btn btn-danger btn-lg w-100">Cutelaria</a>
      </div>
      <div class="col-9 mb-4">
        <a href="/produtos?categoria=PLASTICO" class="btn btn-primary btn-lg w-100">Vasos de Plasticos</a>
      </div>
      <div class="col-9 mb-4">
        <a href="/produtos?categoria=POLIETILENO" class="btn btn-success btn-lg w-100">Vasos de Polietileno</a>
      </div>
    </div>
  </div>

  <!-- Scripts do Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
